@model RoastTrackr.Models.Batch

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Batch Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Duration
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BatchTime)
        </dd>
        <dt>
           Weight
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BatchWeight)
        </dd>
        <dt>
           Batch Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeName)
        </dd>
        <dt>
           End Temperature
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTemp)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.BatchId">Edit</a> 
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</p>
